.in {
    background-color: burlywood;
    height: 100vh;
    width: auto;
    display: flex;

}

.f1 {
    background-color: rgb(26, 26, 114);
    width: 25%;
    justify-self: left;
    align-self: left;
    display: flex;
    flex: 0,4;
    flex-direction: column;
    height: 70%;
    border: none;
    border-radius: 25px;
    margin: 50px;
}

.welcome {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    justify-self: center;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 15px 10px;
}

.welcome1 {
    display: flex;
    flex: 0.4;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 40%;
    padding: 5px 10px;
}

.user {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 25px;
    width: 300px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.password {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 25px;
    width: 300px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.b1 {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    justify-self: center;
    align-self: center;
    margin: 10px 10px;

}

.link1 {
      display: flex;
      flex: 0.1;
      justify-self: center;
      align-self: center;
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
}

.link2 {
    display: flex;
    flex: 0.2;
    justify-self: flex-start;
    align-self: flex-start;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}