
.head{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    /* color: #45e2e4; */
    /* margin-bottom: 10px; */
}
.head1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: wheat;
}
.inpute{
    width: 300px;
    height: 25px;
    margin-bottom: 15px;
}

.btn{
    background-color:  #1d1e3a;
    color: white;
    margin-bottom: 10px;
}
.imge{
    max-width: 100px;
    max-height: 100px;
}

.RT{
    /* background-color: brown; */
    /* height: 40vh; */
    flex: 0.4;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.RB{
    flex: 0.6;
    background-color: blueviolet;
}

.RT1{
    height: 30vh;
    background-color: azure;
    width: 45vh;
    box-shadow: 2px -2px 5px 2px;
    border-radius: 5px;
}
.RT2{
    height: 30vh;
    background-color: pink;
    width: 65vh;
    box-shadow: 2px -2px 5px 2px;
    border-radius: 2px;

}
.select{
    width: 300px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}



.sug{
   margin-bottom: 50px; 
}





