@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    background-size: 100% 100%;
}
.Link{
    align-self: center;
    /* justify-self: s; */
}
.imge{
    max-height: 150px;
    max-width: 150px;
    margin-left: 5px;
}
.ige{
    max-height: 100px;
    max-width: 150px;
    margin-left: 10px;
}
.imege{
    max-height: 100px;
    max-width: 200px;
    margin-left: 10px;
}
.up{
   /* background-color: rgb(135, 253, 253); */
   background-image: url(../../images/backdrown.jpg);
   /* background-color: #074b66; */
    background-size: 100% 100%;
    
  
    /* background-image: url(https://di-uploads-pod1.dealerinspire.com/earlstewarttoyota/uploads/2018/02/Toyota-Entune-Technology-copy-1024x427.jpg);   */
}
.top{
    display: flex;
    flex-direction: row;
    /* background:hsla(258, 88%, 75%, 0.5); */
    background-color: #45e1e4b4;

    align-items: center;
    justify-content: space-between;
    
}
.link{
    margin-left: 10px;
    color: blue;
}
/* .list{
    display: flex;
    flex-direction: row;
    align-items: center;
} */
.middlediv{
    height: 60vh;
    width: 218.5vh;
    /* background-color: hsla(160, 91%, 23%, 0.919); */
    /* background-color: hsla(235, 87%, 12%, 0.809); */
    background-color: #1d1e3abb;
    display: flex;
    flex-direction: column;
    margin-right: 100px;   
}
.btn{
    color: #1d1e3a;
    font-weight: bolder;
    text-transform: uppercase;
}
.btn1{
    color: #45e2e4;
    font-weight: bolder;
    text-transform: uppercase;
}
.stm{
    text-align: center;
    /* font-family: 'Poppins', sans-serif; */
    /* font-size: small; */
    font-family: 'Montserrat', sans-serif;
}
.stm1{
    text-align: center;
   
    font-family: 'Poppins', sans-serif;
    /* font-size: small; */
    font-weight: bolder;
}
.foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin-top: none;
}

h1{
    font-family: 'Poppins', sans-serif;
    /* font-weight: 900; */
    color: wheat;
    
}
.mid{
    /* color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
    /* background-color: hsla(160, 88%, 75%, 0.5);
    height: 60vh; */
    /* background-color: blue; */
    margin-right: 15vh;
    justify-content: space-around;
  
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding-right: 40px;
}
h5{
    color: wheat
}
.mge{
    max-width: 100px;
    max-height: 50px;
    border-right: solid 2px #99CA0A;
}
.tp{
    display: flex;
    flex-direction: row;
    align-items: center
}
.btn{
    margin-right: 15px;
}