*{
    margin: 0%;
    padding: 0%;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    background-size: 100% 100%;
}
.imge{
    max-height: 100px;
    max-width: 100px;
}
.up{
   background-color: rgb(135, 253, 253);
    background-size: 100% 100%;
    background-image: url(https://s1.cdn.autoevolution.com/images/news/gallery/2021-honda-jazz-type-r-rendered-rumored-with-four-cylinder-turbo-engine_3.jpg);
    

    
}
.top{
    display: flex;
    flex-direction: row;
    background:hsla(160, 88%, 75%, 0.5);

    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.middlediv{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly
    
}
.foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 5px;
}
.btn{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    color: #2596be;
}
.mid{
    color: rgba(22, 172, 241, 0.849)
}


ul{
    list-style-type: none;
}

li{
    display: inline;
    padding-right: 40px;
}
h5{
    color: white
}
.mge{
    max-width: 100px;
    max-height: 50px
}
.tp{
    display: flex;
    flex-direction: row;
    align-items: center
}