.Signupbtn{
    background-color: bisque;
    color: peachpuff;
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    border-style: hidden;
    margin-left: 20px;
    align-self: center;
    margin-top: 15px;
    height: 40px;
}
.loginbtn{
    width: 250px;
    align-self: center;
    background-color: blue;
    height: 40px;
    height: 30px;
}
.homebtn1{
    width: 100px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    height: 30px;
}
.homebtn2{
    background-color: rgb(252, 154, 7);
    margin-left: 20px;
    width: 150px;
    height: 30px;
    box-shadow: 2px 2px 2px;
}
.homebtn3{
    background-color: rgb(252, 154, 7);
    margin-left: 20px;
    width: 200px;
    height: 40px;
    box-shadow: 2px 2px 2px;
}